#black_bar{
    position:fixed;
    left:0px;
    width: 10px;
    height:1000px;
    background: #00ff00;
}

img {
  margin: auto;
  width: 100%;
}
body {
    position: absolute;
    left: 150px;
    top:150px:
    text-align: justify;
    margin: auto;
    width: 30%;
    background-color: #fff;
    color: #ababab;
    font-family: VCR, Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 14px;
    text-transform: uppercase
}

footer {
  padding: 100px;
  margin: auto;
  width: 50%;
}
